@import "tailwindcss";

:root {
  --foreground: #ffffff;
  --purple: #8950ff;
  --orange: #fb7236;
  --pink: #d82099;
  --white: #f4ede8;
  --black: #313131;
  --bg-pink: #c9408f;
  --bg-button: #6737cc;
}

@theme inline {
  --color-foreground: var(--foreground);
  --color-bg-pink: var(--bg-pink);
  --color-bg-black: var(--black);
  --color-bg-button: var(--bg-button);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
