@import "tailwindcss";

:root {
  --foreground: #ffffff;
  --purple: #8950ff;
  --orange: #fb7236;
  --pink: #d82099;
  --white: #f4ede8;
  --bg-black: #313131;
  --bg-pink: #c9408f;
  --bg-button: #6737cc;
}

@theme inline {
  --color-foreground: var(--foreground);
  --color-bg-pink: var(--bg-pink);
  --color-bg-black: var(--bg-black);
  --color-bg-white: var(--white);
  --color-bg-button: var(--bg-button);
  --color-text-pink: var(--pink);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-articulat: var(--font-articulat);
  --font-editorial: var(--font-editorial);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
